.activate .f1 {
    left: -11px;
    top: -34px;
    width: 234px;
    height: 331px;
}

.activate .f2 {
    left: 129px;
    top: -28px;
    width: 245px;
    height: 325px;
}

.activate .f3 {
    left: 320px;
    top: -25px;
    width: 215px;
    height: 322px;
}

.activate .f4 {
    left: 474px;
    top: -25px;
    width: 235px;
    height: 322px;
}

.activate .f5 {
    left: 642px;
    top: -25px;
    width: 237px;
    height: 322px;
}

.activate .f6 {
    left: 790px;
    top: -25px;
    width: 217px;
    height: 322px;
}